body {
    background-color: #FFFDF2;
}

.clock {
    background-color: #FF7400;
    color: white;
;}

.clock, h3 {
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 0px;
}

.progress-bar {
    background-color: #FF7400;
}