body {
    background-color: #FFFDF2;
    height: 110%;
}

.clock {
    background-color: #FF7400;
    color: white;
}

.clock, h3 {
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 0px;
}

.progress-bar {
    background-color: #FF7400;
}

.sidebar {
    background-color: rgb(255, 116, 0, .1);
}

.sindeco {
        text-decoration: none;
        color: black;
    }

#startButton {
    height: 64px;
}

@media screen and (max-width: 768px) {
    .responsivo {
         padding-left: 0rem !important;
         margin-top: 3rem;
        }
    
}